/* Webfont: Yekan */
@font-face {
	font-family: 'iransnas';
	
	src:
   url('../fonts/IRANSansXFaNum-Light.ttf') format('truetype'),
   url('../fonts/IRANSansXFaNum-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}


body{
   font-family: 'iransnas';
   font-size: 10pt !important;
 
}




.active {
    display: flex;
 }

 button[class="owl-prev"] {
    transform: scale(2.5);
    display: none !important;
 }

 button[class="owl-next"] {
    transform: scale(2.5);
    display: none !important;
 }

 /* این دستورات برای اضافه کردن به پلن استفاده شده  */
 .active-plane {

    /* border-left: 1px solid rgb(245, 107, 107); */
    background-color: white;
 }

 .de-active-plane {
    border-bottom: 1px solid rgb(245, 107, 107);
 }

 /* این دستورات برای اضافه کردن به پلن استفاده شده  */
 .CardContent {
    /* display: none !important; */
 }

 .CardContent.active {
    /* display: block !important; */
 }

 .active-card {
    display: block;
 }

 .tab {
    background: transparent;
 }

 .tab.active {
    background-color: white;
 }

 ::placeholder {
   color: red;
   opacity: 1; /* Firefox */
 }

 /* چسباندن فوتر به ته صفحه */
 html {
   height: 100% !important;
}

body {
   min-height: 100% !important;
   display: flex !important;
   flex-direction: column !important;
}

#footerSite {
   margin-top: auto !important;
}

 /* چسباندن فوتر به ته صفحه */
 
/* دستورات مربوط به فوتر */
html {
   height: 100%;
 }
 
 body {
   min-height: 100%;
   display: flex;
   flex-direction: column;
 }
 
 footer {
   margin-top: auto;
 }
 

 
 /* دستورات مربوط به فوتر */


 
/* دستورات مربوط به خط قرمز زیر منو */
#offcavasRight ul li a {
   margin-right: 15px;
   position: relative;
   color: #000000;
 }
 
 #offcavasRight ul li a::before {
   content: "";
   position: absolute;
   display: block;
   width: 100%;
   height: 2px;
   bottom: -4px;
   left: 0;
   background-color: #ff0000;
   transform: scale(0);
   transition: transform 0.3s ease;
 }
 
 #offcavasRight ul li a:hover::before {
   color: #000;
   transform: scaleX(1);
 }